.Button {
  cursor: pointer;
  color: var(--secondary-color);
}

.clear,
.clearInverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outlined {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.clearInverted {
  color: var(--inverted-primary-color);
}
