.app.dark {
  --bg-color: darkblue;
  --inverted-bg-color: lightgray;

  --primary-color: lightblue;
  --secondary-color: slategray;

  --inverted-primary-color: blue;
  --inverted-secondary-color: lightblue;
}
