.app.light {
  --bg-color: lightgray;
  --inverted-bg-color: darkblue;
  --primary-color: blue;
  --secondary-color: lightblue;
  --inverted-primary-color: lightblue;
  --inverted-secondary-color: slategray;
}
